.main{
    min-height: 50vh;
    border-radius: 5rem;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 0 2rem;
    
    
}
.input{
    width: 60rem;
    height: 4rem;
    margin-left: 26rem;
    margin-top: 5rem;
    border: NONE;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    
}
.input:hover{
    border: none
}
.input:focus{
    border: none;
    resize: none;
    outline: none
}

.button{
    background-color: #0070f3;
    color: white;
    height: 3rem;
    width: 17rem;
    border-radius: 0.5rem;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 46rem;
    margin-top: 7rem;
    font-size: 1.7rem;
    font-family: 'Ramabhadra', sans-serif;
}

.purple{
    color: #dc2641;

}

.blue{
    color: #0070f3;

}


.line{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1rem;
    margin-left: 43rem;
    width: 30rem;
}
.reels{
    border-radius: 5rem;
    margin-top: 1rem;
   
}
.img{
    border-radius: 5rem;
    margin-top: 1rem;
    
}
.sub{
    min-height: 30vh;
    width: 50vw;
    border-radius: 5rem;
    background-color: #0070f3;
    margin-left: 26rem;
    
}
.sub1{
    min-height: 30vh;
    width: 50vw;
    border-radius: 5rem;
    background-color: #dc2641;
    margin-left: 26rem;
}

.flex{
    display: flex;
}
.divi{
    color: white;
    margin-left: -4rem;
}
.divi1{
    color: white;
    margin-left: -2rem;
}

.lii{
    font-size: 1.2rem;
}

.ul{
    
        color: white;

}
.h{
    color: #0070f3;
}
.sec{
    height: 20rem;
    width: 15rem;
    border: 0.3rem solid black;
    z-index: 99;
    margin-left: 50rem;
    margin-top: 3rem;
    border-radius: 2rem;
}
.li{
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 999px) {
    .main{
        min-height: 80vh;
        width: 85rem;
    }
    .input{
        margin-left: 7rem;
        width: 70rem;
        height: 10rem;
        border-radius: 7rem;
        text-align: center;
        font-size: 3rem;
    }
    .line{
        border-bottom: 1px solid #1d1919;
        margin-left: 28rem;
    }
    .sub{
        width: 91rem;
        margin-left: -3rem;
       
    }
    .divi{
        font-size: 3.5rem;
        
    }
    .lii{
        font-size: 2.7rem;
        margin-left: 2rem;
        
    }
    .divi1{
        font-size:3.5rem;
    }
   .sub1{
       width: 91rem;
       margin-left: -3rem;
   }
   .button{
       font-size:3rem;
       height: 9rem;
       width: 29rem;
       border-radius: 5rem;
       margin-left: 27.7rem;
   }
   .li{
    font-size: 3rem;
    width: 80rem;
    margin-left: 0rem;
  }

  
}